{% load static %}
{% load user_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotalStock App</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'totalstock/app.css' %}">

</head>
<body>

<div class="sidebar">
    <header>
        <h1>TotalStock</h1>
    </header>
    <p>Welcome, {{ user.first_name }}! (<a href="{% url 'app_logout' %}">Logout</a>)</p>

    <hr>
    <ul>
        <li><a href="{% url 'search_item' %}" class="sidebar-button">Search Item</a></li>
        {% if user|has_group:'manager' %}
            <li><a href="{% url 'create_item' %}" class="sidebar-button">Create Item</a></li>
            <li><a href="{% url 'manage_users' %}" class="sidebar-button">Manage Users</a></li>
        {% endif %}
        <!-- Add more sidebar links as needed -->
    </ul>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
