{% extends 'app.html' %}

{% block content %}
    <h1>Create Item</h1>

    <form method="post" class="item-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.name == 'description' %}
                    <textarea id="{{ field.id_for_label }}" name="{{ field.name }}" rows="4" cols="50">{{ field.value }}</textarea>
                {% else %}
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}

        <div class="form-row">
            <button type="submit">Create Item</button>
        </div>
    </form>
{% endblock %}
