{% extends 'app.html' %}

{% block content %}
    <h1>Search Item</h1>

    <form method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <hr>

    {% if items %}
        <h2>Items in Stock:</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Site</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in items %}
                    <tr>
                        <td>{{ stock.item.id }}</td>
                        <td>{{ stock.item.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.item.price }}</td>
                        <td>{{ stock.location.Site.name }}</td>
                        <td>{{ stock.location.name }}</td>
                        <td>
                            <form method="get" style="display: inline;" action="{% url 'issuance' stock.id %}">
                                {% csrf_token %}
                                <button type="submit">Consume</button>
                            </form>
                            <form method="get" style="display: inline;" action="{% url 'adjust_stock' stock.id %}">
                                {% csrf_token %}
                                <button type="submit">Adjust</button>
                            </form>
                            <form method="get" style="display: inline;" action="{% url 'entry_stock' stock.id %}">
                                {% csrf_token %}
                                <button type="submit">Entry</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if remaining_items %}
        <h2>Items Out of Stock:</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Add Stock</th>
                </tr>
            </thead>
            <tbody>
                {% for item in remaining_items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>
                            <form method="post" action="{% url 'create_stock' item.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <button type="submit">Create Stock Entry</button>
                            </form>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
